* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.btn {
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #469165;
    transition: 0.3s;
}

/* Main styles */

header nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

header nav img {
    padding: 16px 0 16px 120px;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 32px 0px;
    opacity: 0.9;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
}

/* header nav ul li a:hover {
    color: #469165;
} */

header nav .nav-btn {
    padding: 24px 120px 0 24px;
}

/* Hero section */
.hero {
    background: linear-gradient(rgba(0, 25, 49, 0.601), rgba(0, 25, 49, 0)), url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container {
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin: auto;
}

.hero-container .sub-heading {
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 1000px;
    color: #469165;
    line-height: 19px;
    margin-top: 116px;
    padding: 8px 12px;
}

.hero-container h1 {
    font-size: 71px;
    font-weight: 700;
    line-height: 84px;
    padding: 0 280px;
    opacity: 90%;
    text-align: center;
}

.hero-container h1 .h-span1 {
    color: #FFFFFF;
}

.hero-container h1 .h-span2 {
    color: #30B868;
}

.hero-container .hero-des {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 295px;
}

.hero-container .hero-btn {
    padding: 12px 16px;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    margin-left: 16px;
}

.hero-container .hero-btn:hover {
    background-color: #FFFFFF;
    color: #469165;
    transition: 0.3s;
}

.hero-container .btn-container {
    padding-bottom: 180px;
}

/* Notes section */
/* .notes {
} */

.notes-container {
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.notes .note-heading {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    gap: 16px;
    margin-top: 48px;
}


.notes .note-heading h1 {
    font-size: 48px;
    color: #001931;
    text-transform: capitalize;
}

.notes .note-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.notes .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.notes .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    padding: 83px 24px 0 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.notes .card-container .card img {
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    background-color: #F95555;
    border-radius: 100%;
    padding: 14px;
    margin-bottom: 16px;
}

.notes .card-container .card h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
    color: #001931;
}

.notes .card-container .card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


/* Second brain section */
.second-brain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
}

.second-brain-container {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    /* padding: 120px; */
}

.second-brain-container .brain-img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.second-brain-container .brain-info {
    padding: 102px 0;
}

.second-brain-container .brain-info .brain-sub-heading {
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
    text-align: left;
}

.second-brain-container .brain-info h1 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
    text-align: left;
    text-transform: capitalize;
    padding-right: 50px;
}

.second-brain-container .brain-info .brain-des {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    text-align: left;
    padding-right: 190px;
    margin-bottom: 40px;
}

.second-brain-container .brain-info .brain-point {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.second-brain-container .brain-info .brain-point p {
    font-size: 16px;
    line-height: 20px;
    color: #001931;
}

.second-brain-container .brain-info .brain-point p i {
    color: #30B868;
    margin-left: 6px;
}

/* Challenge section */
.challenge {
    margin: 0 auto 120px auto;
}

.challenge .challenge-container {
    border-radius: 12px;
    background-color: #F7F6F2;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 16px;
    text-align: center;
}

.challenge-container .challenge-content {
    padding: 80px 40px;
}

.challenge-container .challenge-content h1 {
    font-size: 40px;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.challenge-content .challenge-content-des {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.challenge-content .challenge-content-des-last {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.challenge-content button {
    margin-top: 24px;
    margin-bottom: 16px;
}

/* Footer section */
footer {
    background-color: #001931;
}

footer .footer-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 80px;
    padding: 120px 120px 30px 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content .social-footer h2 {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-content .social-footer .icon {
    display: flex;
    gap: 16px;
    ;
}

.footer-content .social-footer .icon a {
    height: 20px;
    width: 20px;
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 80%;
    /* padding: 2px; */
}

.copy-right {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.copy-right hr{
    opacity: 0.2;
    margin-bottom: 30px;
}