*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Main styles */

.navber nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.navber nav img{
    padding: 16px 0 16px 120px;
}

.navber nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 32px 0px;
    opacity: 0.9;
}

.navber nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 152%;
}
.navber nav ul li a:hover{
    color: #469165;
}
.navber nav .nav-btn{
    padding: 24px 120px 0 24px;
}

